In [1]:
import pandas as pd

In [2]:
import plotly.plotly as py
import plotly.graph_objs as go
import numpy as np

In [3]:
df=pd.read_csv('main.csv')

In [4]:
df['% Growth Rate']=df['establishments_%_change']

In [5]:
df.head()

,Id2,city_state,houses_total,pop_18_to_24_total,renters_total,house_units,population,establishments_total,year,agriculture_forest_fish_hunt_ratio,...,admin_support_waste_management_services_ratio,educational_services_ratio,health_social_assistance_ratio,arts_entertainment_and_recreation_ratio,accommodation_food_services_ratio,other_ratio,industries_not_classified_ratio,commute_time_per_person,establishments_%_change,% Growth Rate
0,10180,"Abilene, TX Metro Area",60066,22457,24096,70553,167800,3865,2012,0.002587322,...,0.039586028,0.009831824,0.108926261,0.017076326,0.086157827,0.10530401,0.001293661,7.198987,0.005463059,0.005463059
1,10420,"Akron, OH Metro Area",280887,76280,92738,312864,702262,16588,2012,0.000723415,...,0.056366048,0.012659754,0.10815047,0.014347721,0.090185676,0.10947673,0.000482276,10.388694,0.01134008,0.01134008
2,10500,"Albany, GA Metro Area",57699,17731,25047,65861,155019,3210,2012,0.009657321,...,0.043613707,0.006542056,0.120249221,0.009034268,0.082554517,0.10529595,0.001246106,7.639128,-0.00987045,-0.00987045
3,10580,"Albany-Schenectady-Troy, NY Metro Area",342705,99004,121536,394602,874646,21049,2012,0.001757803,...,0.050738752,0.014632524,0.114732291,0.018575704,0.108508718,0.102475177,0.000665115,10.460884,0.001046274,0.001046274
4,10740,"Albuquerque, NM Metro Area",344869,88750,114440,377011,902794,18590,2012,0.00091447,...,0.046745562,0.017213556,0.119042496,0.013179129,0.089080151,0.09112426,0.000645508,9.622511,0.006715044,0.006715044

In [6]:
df2=df.loc[df['year'].isin([2014,2016])]

In [7]:
df2.head()

,Id2,city_state,houses_total,pop_18_to_24_total,renters_total,house_units,population,establishments_total,year,agriculture_forest_fish_hunt_ratio,...,admin_support_waste_management_services_ratio,educational_services_ratio,health_social_assistance_ratio,arts_entertainment_and_recreation_ratio,accommodation_food_services_ratio,other_ratio,industries_not_classified_ratio,commute_time_per_person,establishments_%_change,% Growth Rate
627,10180,"Abilene, TX Metro Area",59932,22229,23060,70507,166900,3858,2014,0.002073613,...,0.041731467,0.008553655,0.112234318,0.016329705,0.086832556,0.103939865,0.001036807,7.374985,-0.001811125,-0.001811125
628,10420,"Akron, OH Metro Area",283364,76266,97259,313241,703825,16419,2014,0.000730861,...,0.057433461,0.012972775,0.106949266,0.014190876,0.092210244,0.110177234,0.001035386,10.744091,0.003790426,0.003790426
629,10500,"Albany, GA Metro Area",57795,16195,26560,66262,152596,3169,2014,0.008835595,...,0.044809088,0.005364468,0.114862733,0.009151152,0.081413695,0.104449353,0.002840013,7.565762,-0.001575299,-0.001575299
630,10540,"Albany, OR Metro Area",45907,8817,15245,49304,119356,2441,2014,0.026218763,...,0.040147481,0.006145023,0.088078656,0.015157722,0.088897993,0.101597706,0.002048341,8.894526,0.001641362,0.001641362
631,10580,"Albany-Schenectady-Troy, NY Metro Area",347291,101779,125080,397239,880167,21201,2014,0.00155653,...,0.053252205,0.014433281,0.111221169,0.019055705,0.109192963,0.101127305,0.001839536,10.716091,0.002458745,0.002458745

In [8]:
df2=df2.loc[df2["city_state"].isin(["New York-Newark-Jersey City, NY-NJ-PA Metro Area","Austin-Round Rock, TX Metro Area","San Francisco-Oakland-Hayward, CA Metro Area","Dallas-Fort Worth-Arlington, TX Metro Area","Seattle-Tacoma-Bellevue, WA Metro Area","Chicago-Naperville-Elgin, IL-IN-WI Metro Area"])]

In [9]:
import plotly.plotly as py
import plotly.graph_objs as go

x = df2['city_state'].unique()
y = df2.loc[df2['year']==2014,'establishments_%_change']
y2 = df2.loc[df2['year']==2016,'establishments_%_change']

layout=go.Layout(title="Establishment growth rate",  yaxis={'title':'Growth Rate'})
                
trace1 = go.Bar(
    x=x,
    y=y.astype(float)*100,
    text=2014,
    textposition = 'auto',
    marker=dict(
        color='rgb(158,202,225)',
        line=dict(
            color='rgb(8,48,107)',
            width=1.5),
        ),
    opacity=0.6,
    name= "2014"
)

trace2 = go.Bar(
    x=x,
    y=y2.astype(float)*100,
    text=2016,
    textposition = 'auto',
    marker=dict(
        color='rgb(58,200,225)',
        line=dict(
            color='rgb(8,48,107)',
            width=1.5),
        ),    opacity=0.6,
    name= "2016"
)

data = [trace1,trace2]

py.iplot(go.Figure(data=data, layout=layout), filename='grouped-bar-direct-labels')

Aw, snap! We didn't get a username with your request.

Don't have an account? https://plot.ly/api_signup

Questions? accounts@plot.ly

PlotlyError: Because you didn't supply a 'file_id' in the call, we're assuming you're trying to snag a figure from a url. You supplied the url, '', we expected it to start with 'https://plot.ly'.
Run help on this function for more information.

In [ ]:
y.astype(float)*100

In [ ]:
x

In [ ]:
y = df2.loc[df2['year']==2012,'establishments_%_change']

In [ ]:
y

In [ ]:
trace1 = go.Bar(
    x=df['year'].unique()[0],
    y=df['establishments_%_change'].values,
    name='SF Zoo'
)
trace2 = go.Bar(
    x=np.array(x['year'].unique()[-1]),
    y=df['establishments_%_change'].values,
    name='AN Zoo'
)

data = [trace1, trace2]
layout = go.Layout(
    barmode='group'
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')